:root {
    --side-margin: 1em;
    --visualizer-border: 2px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

* {
    color: white;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.container {
    width: calc(100% - var(--side-margin) * 2);
    max-width: 500px;
    margin: 0 auto;
}

#info {
    padding-top: 11em;
    padding-bottom: 6em;
    text-align: center;

    h1 {
        margin-bottom: 1em;
    }

    p {
        font-size: 1.2em;
        line-height: 1.4em;
        margin: 0;
        margin-bottom: 3em;
    }

    a {
        padding: 1em;
        background: white;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
}

.visualization {
    padding: 1em;
    border-radius: 1em;
    background-color: #1C1C1C;

    margin-bottom: 1em;
    text-align: center;

    h2 {
        margin-bottom: 0.5em;
        text-transform: capitalize;
    }

    p {
        margin: 0;
        color: #A8A8A8;
    }

    button {
        width: 100%;
        background-color: #393939;
        border: transparent;
        border-radius: 1em;
        margin: 0;
        padding: 0.5em;
        font-size: 1.1em;
        font-weight: bold;
    }

    #steps {
        margin-bottom: 1.5em;
        display: inline-flex;
    }
}

.visualizer {
    width: calc(100% - var(--visualizer-border) * 2);
    max-width: calc(500px - var(--visualizer-border) * 2);
    height: 300px;
    margin-bottom: 1em;
    border: var(--visualizer-border) solid white;
    border-radius: 0.5em;
}

footer {
    padding-top: 4em;
    padding-bottom: 5em;
    text-align: center;

    a {
        font-weight: bold;
    }
}